html,
body {
	margin: 0;
	padding: 0;

	color: var(--textColor);
	background-image: linear-gradient(to right, #434343 0%, rgb(37, 36, 36) 100%);

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--textColor: #3b434e;
	--primary: rgb(65, 41, 41);
}
